<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XamaDataLayer.Properties.Settings.soft_BylsanConnectionString"
            connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=Cloud_Bylsan;User ID=xama;Password=Pa$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>