<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XamaDataLayer.Properties.Settings.soft_BylsanConnectionString"
            connectionString="Data Source=SEZEROFFICE-PC\SQL2008;Initial Catalog=soft_Bylsan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>