<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XamaDataLayer.Properties.Settings.soft_BylsanConnectionString"
            connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=Cloud_Bylsan1;User ID=xama;Password=Pa$$w0rd;Connect Timeout=90"
            providerName="System.Data.SqlClient" />
        <add name="XamaDataLayer.Properties.Settings.bylsanConnectionString"
            connectionString="Data Source=SEZEROFFICE-PC\SQL2008;Initial Catalog=bylsan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="XamaDataLayer.Properties.Settings.Cloud_BylsanConnectionString"
            connectionString="Data Source=SEZEROFFICE-PC\SQL2008;Initial Catalog=soft_Bylsan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>